.wrap {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 800px;
}

button {
	height: 40px;
}
.inp {
	margin-top: 20px;
	padding-left: 20px;
	background-color:#f0f0f0;
	height: 400px;
}
.note {
	margin-top: 30px;
	padding-left: 20px;
	background-color:#f0f0f0;
	height: 200px;
}
.btn {
	display: flex;
	justify-content: space-between;
	
}
p {
	font-size: 16px;
	color: #325772;
	padding-top: 20px;
}
textarea{
	width: 700px;
    height: 300px;
	border-color: 1px solid #6fd1ce;
}