.container {
	display: flex;
	flex-direction: row;
}
.slider {
	width: 400px;
	height: 400px;
	overflow: hidden;
}
.slider-line {
	height: 400px;
	width: 1200px;
	position: relative;
}
.left, .right {
	width: 60px;
	background-color: #dedede;
	font-size: 30px;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 15px;
}
